sudo: false
dist: xenial
language: python
python:
  - '3.6'
  - '3.7'
install:
  - python setup.py install
script:
  - python setup.py test
  - export COMMIT_HEADER=$(git log --oneline --format=%B -n 1 HEAD | head -n 1 | cut -d ' ' -f 1)
notifications:
  email:
    on_success: never
    on_failure: change

before_deploy: |-
  log=$(git log $TRAVIS_COMMIT_RANGE --oneline)
  export TAG=v$COMMIT_HEADER
  export BODY=$'**Change log:**<br/>'${log//$'\n'/<br/>}

deploy:
  - provider: pypi
    user: ilyachch
    password:
      secure: K3ASEd1W9sHLqs7BgcldMXC1s8kWPcc1n0mtA9DUyGjDtQTD7O6tIWeF+dpOh+BgjsQwvK3VKqCrEoh/yrLNBcqd3OfFRnnHQpakT2aWrBkjXQ64KjsQcBtyRJMcYFd8AgaaiMkkYmzfFpQNiqoAWNuHFJ7AhXRoKoP0bIjCx8lqrq+dIqJfcCvpYvJuDxzaxjXwzjz/BGGT2HIXOB38oejrTKQ54GbdS8xF2lTDic3EnDGWE2+yQyBgIcn2sYvDAWfYZsE4hDg6LTxyCDynGNRHmDk3YDUBd08u9GDirjTIaJTRz933xnGshUv36C6cWqWSI6f3quy1a6n2/b9XJlT+LBIaiqoRoIwmwNjLZHk6jONGLMBA+U63P8oi7qHA2KW/y1/ij+bLo8+uWexDQra8aGCMHjYF7eavqJHNVwZAMukLjOe8sX9cJbiW6X/5m2rsCEpuL+Sv1TvhvijVYtIlX6WGA1rqvKYc/WNPoj5i3whaE/XQqYLKIlrb5THR/iGcM4KTKWbtrR9uX0G5QZXTkDLp852LE3rkyLNm9PAsH2GcU/J15ePy1rnT8r2e09eN+GKK0jwPSSmVMxWVqf/egbBBKPMNZVRkUfGmlXdJBIRIbjgaYn+ObPODdYtqw2mahiT9Bt4889HTfpFBxcFFD5avJbuuKjJJLO1Ql/I=
    distributions: sdist bdist_wheel
    skip_cleanup: true
    skip_existing: true
    on:
      repo: ilyachch/md_docs-trans-app
      branch: master
      python: '3.6'
      condition: $COMMIT_HEADER =~ ^([0-9]{1,3}).([0-9]{1,3}).([0-9]{1,3})$

  - provider: releases
    skip_cleanup: true
    name: Release $COMMIT_HEADER
    tag_name: $TAG
    body: $BODY
    api_key:
      secure: m7eZSbvYg3pvsHLIGly5jsfTnFzS4KXB7kEaORd+Shgg6Sy4f3Eu/ZBe+n2buwqCgvN4XVXHVVxW3vE0nsIKSb9sI6+uO8DihtMP0ExnO9+tyfaVf4PDaEmoUegbaMh+YaeJu/Ht723Zxueh2cNgbA1J5tykLcOwB2flBXqOPQUV3GG58jxVngPTL++a5n/KWBO08WjzlgXs5w6eLhqyNpuImHHwQNPe4Ba3bKPICUDpJH+wFjGugSrxaksArH9++j9M88S5hq12hfJzole1ywy2pjElbKwkg6KXBsQov/66OqNCniWdcMX45VSKXoKTrSrqtpRoozvJDj9h8EeGKPKE9jYB+zY7t11zbHIXtnBkwg//0wIawTnb4BjT6lyUiFW66KtzhStOgkVLn/9x8eM0RGIPSDljD91z7+WdyOBSM+70XwQjU6M+f6UETWAHZgQ145XdCvbiyFuznjllWctGVgiJ1TVgbkDaFS49A16fAgX8eZzDS/cNvDSyxMC7S2kykH0xTgCM0eliBJ9LMi3hR/IYjEE3JuEzVMKXhWOic4Q6AxMFmYK9cG2EMDMVmp2ssxKdCWHld0gBkHS5So9VZb4y65fdvqv0cjPwcGMKZBSkMtnvqD0whc82f3qiJBsml5hOaXcZPU53cox8pofV5h8aWo0brXbyeW1psgo=
    file:
      - dist/*.whl
      - dist/*.tar.gz
    on:
      repo: ilyachch/md_docs-trans-app
      branch: master
      python: '3.6'
      condition: $COMMIT_HEADER =~ ^([0-9]{1,3}).([0-9]{1,3}).([0-9]{1,3})$
