sudo: false
dist: xenial
language: python
python:
  - '3.6'
  - '3.7'
install:
  - python setup.py install
script:
  - python setup.py test
notifications:
  email:
    on_success: never
    on_failure: change

before_deploy:
  - git config --local user.name "Ilya Chichak"
  - git config --local user.email "ilyachch@gmail.com"
  - export TRAVIS_TAG=$(cat VERSION)
  - git tag $TRAVIS_TAG

deploy:
  - provider: pypi
    user: ilyachch
    password:
      secure: K3ASEd1W9sHLqs7BgcldMXC1s8kWPcc1n0mtA9DUyGjDtQTD7O6tIWeF+dpOh+BgjsQwvK3VKqCrEoh/yrLNBcqd3OfFRnnHQpakT2aWrBkjXQ64KjsQcBtyRJMcYFd8AgaaiMkkYmzfFpQNiqoAWNuHFJ7AhXRoKoP0bIjCx8lqrq+dIqJfcCvpYvJuDxzaxjXwzjz/BGGT2HIXOB38oejrTKQ54GbdS8xF2lTDic3EnDGWE2+yQyBgIcn2sYvDAWfYZsE4hDg6LTxyCDynGNRHmDk3YDUBd08u9GDirjTIaJTRz933xnGshUv36C6cWqWSI6f3quy1a6n2/b9XJlT+LBIaiqoRoIwmwNjLZHk6jONGLMBA+U63P8oi7qHA2KW/y1/ij+bLo8+uWexDQra8aGCMHjYF7eavqJHNVwZAMukLjOe8sX9cJbiW6X/5m2rsCEpuL+Sv1TvhvijVYtIlX6WGA1rqvKYc/WNPoj5i3whaE/XQqYLKIlrb5THR/iGcM4KTKWbtrR9uX0G5QZXTkDLp852LE3rkyLNm9PAsH2GcU/J15ePy1rnT8r2e09eN+GKK0jwPSSmVMxWVqf/egbBBKPMNZVRkUfGmlXdJBIRIbjgaYn+ObPODdYtqw2mahiT9Bt4889HTfpFBxcFFD5avJbuuKjJJLO1Ql/I=
    distributions: sdist bdist_wheel
    skip_cleanup: true
    skip_existing: true
    on:
      repo: ilyachch/md_docs-trans-app
      branch: master
#      tags: true
      python: '3.6'
#      condition: $(git branch | grep \* | cut -d ' ' -f2) == $(cat VERSION)

  - provider: releases
    skip_cleanup: true
    api_key:
      secure: mLbq3UU3SGjc0LDAnMnljbB7BxPBEylIkPoCuuYbN0EnwAwbyA4biTbTl91qINkQbUTMNJus0RuKXdM2I7irH/K559Gzd+E7lbu1olCc5MH0txPLFBi3bAiqTG64KkLxl9dmo2Ko0GZP8GZBWh5K5J1O69A2PEv7YILZO9MxeYb51yUQNcnAalhyGPdsDkOYB4r0HRLWoYQjdhM1E2iL5wMf7sdaDTpbnOLXUWrElRugc3kxuvMUbfzteMukJA/IbF6WzPMzX3mZAnQySGJZrBau4kOH8InT/aMy9F9+TuJsWVrfZ6J09qWeix/TNVqBC2O+Ow1NJLW0KI17KM/XODCf5skOu7hEoz16WUKC2xEwIkQmHgOhRJ3s1/t3+SIYyCwkJwtwN2R1TcCG07U5Z8PC9FOvjHCqOQrioNJAXIqUlJBb0b+yQTM/m9ov/GooNySPhvoXujsINSOe3GTWVGzEB13VjCeG0f65sO1QqDT4hCNQuqi0uyckava7hTnvnhbjH1w/OBeyvSh3azZMbaxZenR+UO1OV3jZ1VC66Z4yPrZhF+fGMTgzCc8ubA/XrSu+kPhZZGKNQSMLoh4z8H1zU7noCCkr+bY29eXJFRSvAxP7Y0CWq/J6TgDFKGfd+p6XeO/yBrsegOqyvrLKtrNuqwh6wop/WT21NNDTEUg=
    file:
      - dist/*.whl
      - dist/*.tar.gz
    on:
      repo: ilyachch/md_docs-trans-app
      branch: master
#      tags: true
      python: '3.6'
#      condition: $(git branch | grep \* | cut -d ' ' -f2) == $(cat VERSION)
